.my-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.profile-content {
  width: 50%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Increased spacing for a double-space effect between fields */
}

.profile-field {
  display: flex;
  align-items: center;
}

.password {
  cursor: pointer; /* Indicates that the text is clickable */
  white-space: nowrap; /* Prevent wrapping */
  text-decoration: underline; /* Adds a visual hint for interaction */
}

.password.clickable:hover {
  color: #007bff; /* Changes color on hover */
}

.logout-button {
  margin-top: 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e60000;
}

span {
  padding-left: 5px;
}
