.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}

.page-btn {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  padding: 8px 12px;
  margin: 0 2px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: var(--light-gray);
}

.page-btn.active {
  background-color: var(--light-gray); /* Always light gray for active */
  color: var(--electric-blue); /* Highlight text in blue */
  border: 2px solid var(--electric-blue); /* Blue border for active */
}

.page-btn:hover {
  background-color: var(--hover-blue); /* Change background on hover */
  color: var(--white);
}

.page-btn.disabled {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  cursor: not-allowed;
  border: 1px solid var(--dark-gray);
}
